* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header styles */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.5rem;
  border: 1px solid #f8f9fa;
  box-shadow: 0px -8px 25px 0px #00000038;
}

/* Responsive logo size */
.logoImage {
  height: 2rem;
}

/* File input label */
.labelclass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; 
}

/* Content container */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

/* File input label styles */
.file-input-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #0fa958;
  font-size: 0.8rem;
}

/* Hide the actual file input completely */
.file-input {
  display: none; 
}

/* Response container */
.response-container {
  display: flex;
  flex-grow: 1;
  padding: 4rem;
  padding-top: 6rem
}

/* Input container */
.input-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* Form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  padding-bottom: 40px;
}

/* Input field */
.input-field {
  width: calc(100% - 80px);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 0.8rem;
  border: 1px solid #E4E8EE;
  color: #6E7583;
}
.btn{
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 6px;
  background: white;
  color: black;
  border: 1px solid black;
}
.circle{
  margin-right: 8px;
}
.btn{
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 6px;
  background: white;
  color: black;
  border: 1px solid black;
}
.circle{
  margin-right: 8px;
}
/* Submit button */
.submit-button {
  position: absolute;
  right: 45px;
  top: 2px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: #222222;
  cursor: pointer;
  font-size: 25px;
}

/* Plus icon button */
.plus-button {
  padding: 8px 16px; 
  border: none; 
  background-color: transparent; 
  color: #222222; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
}

/* Responsive styles */
@media (max-width: 600px) {
  .Header {
    flex-direction: row; 
    align-items: center; 
  }

  .labelclass {
    flex-direction: row; 
    align-items: center;
    gap: 10px; 
  }

  .upload-text {
    display: none; 
  }

  .input-field {
    width: 100%; 
  }

  .submit-button {
    padding: 0.5rem; 
    right:6px;
    right:6px;
  }
  .btn{
    padding: 2px 2px;
  }
}
@media(max-width:400px){
  .Header {
    width: 100%;
        flex-direction: row;
        padding: 8px;
  }
  .upload-text-1{
    font-size: 0.6rem;
  }
  .circle{
    margin: 0px;
  }
}
@media(max-width:400px){
  .Header {
    width: 100%;
        flex-direction: row;
        padding: 8px;
  }
  .upload-text-1{
    font-size: 0.6rem;
  }
  .circle{
    margin: 0px;
  }
}
